@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------------------------Landing Nav */

.landing-nav {
  @apply border-b-2
  bg-dark;
}

.landing-nav-list {
  @apply flex
  justify-end
  px-3
  sm:px-6
  py-6
  md:py-8
  space-x-3
  lg:space-x-6;
}

/* -----------------------------Landing Nav End */
/* -----------------------------Dashboard Nav */

.nav-item {
  @apply flex
  items-center
  p-2
  mx-2
  rounded-lg
  hover:text-white
  hover:bg-gray-700;
}

/* -----------------------------Dashboard Nav */

/* -----------------------------Buttons */
.cta-button {
  @apply bg-secondary
  hover:bg-secondaryDark
  active:bg-secondaryDarker
  transition-all
  duration-200
  px-6
  py-2
  rounded-full
  text-white
  text-sm
  lg:text-lg;
}

.secondary-button {
  @apply border
  border-secondaryDark
  hover:bg-secondaryDark
  active:bg-secondaryDarker
  active:border-secondaryDarker
  text-white
  transition-all
  duration-200
  px-6
  py-2
  rounded-full
  text-sm
  lg:text-lg;
}

.social-button {
  @apply text-white
  bg-secondary
  hover:bg-secondaryDark
  active:bg-secondaryDarker
  transition-all
  duration-200
  rounded-full
  p-4;
}
/* -----------------------------Buttons End */
